@font-face {
	font-family: "Philosopher";
	font-display: swap;
	src: url("../fonts/Philosopher-Bold.woff") format("woff"), url("../fonts/Philosopher-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Philosopher";
	font-display: swap;
	src: url("../fonts/Philosopher-Regular.woff") format("woff"), url("../fonts/Philosopher-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Sweet Mavka Script";
	font-display: swap;
	src: url("../fonts/Sweet Mavka Script.woff") format("woff"), url("../fonts/Sweet Mavka Script.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "ptsansnarrow";
	font-display: swap;
	src: url("../fonts/ptsansnarrow-Bold.woff") format("woff"), url("../fonts/ptsansnarrow-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "ptsansnarrow";
	font-display: swap;
	src: url("../fonts/ptsansnarrow-Regular.woff") format("woff"), url("../fonts/ptsansnarrow-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

