body {
    font-family: $font-main;
    font-size: 24px;
}

h1, h2, h3 {
    font-family: $font-head;
}

h2 {
    margin: 2em 0 3rem 0;
    line-height: 1em;
}

p {
    margin: 1.5rem 0;
}

ol {
    counter-reset: myCounter;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 600px));
    grid-gap: 1.5em;
    margin-top: 2.5em;

    li {
        list-style: none;
        padding: .5em 1em;
        position: relative;
        border: .1em solid $sky-gradient-right;
        border-radius: .4em;

        &:before {
            counter-increment: myCounter;
            content:counter(myCounter);
            background: $sky-gradient-left;
            background: linear-gradient(180deg, $sky-gradient-left 0%, $sky-gradient-right 100%);
            display: inline-block;
            text-align: center;
            position: absolute;
            top: -0.9em;
            left: -1em;
            width: 1.7em;
            height: 1.7em;
            line-height: 1.6em;
            border-radius: 1em;
        }
    }
}

ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 600px));
    grid-gap: 1.5em;
    margin-top: 2.5em;

    li {
        list-style: none;
        padding: .5em 1em;
        position: relative;
        border: .1em solid $sky-gradient-right;
        border-radius: .4em;

        &:before {
            content: '\2B50';
            border: 1px;
            display: inline-block;
            text-align: center;
            position: absolute;
            top: -0.9em;
            left: -1em;
            width: 1.7em;
            height: 1.7em;
            line-height: 1.6em;
            border-radius: 1em;
        }
    }
}

.container {
    max-width: $bp-large;
    margin: 0 auto;
}

.btn {
    background: $blue;
    color: $white-text-color;
    border-radius: 1.3rem;
    padding: .7rem 1.5rem;
    font-family: $font-head;

    &:hover {
        background: lighten($blue, 10%);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;

    .logo {
        display: flex;
        align-items: center;

        img {

        }

        span {
            display: block;
        }
    }

    nav.top-menu {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        font-size: 1em;

        a {
            display: block;
            padding-top: .3rem;
            padding-bottom: .4rem;
            border-bottom: 0;

            &:hover {
                color: $blue;
            }

            &.btn:hover {
                border-bottom: 0;
                color: $white-text-color;
            }
        }
    }
}

main {
    section.banner {
        border-radius: 1rem;
        background: $sky-gradient-left;
        background: linear-gradient(90deg, $sky-gradient-left 0%, $sky-gradient-right 100%);
        padding: 2rem 4rem;
        display: flex;
        margin-bottom: 3rem;

            .text {
                flex-basis: 75%;

                h1 {
                    color: #3C6A7BFF;
                    font-size: 1.2em;
                    line-height: 1.2em;

                    strong {
                        white-space: nowrap;
                    }

                    .name {
                        color: $blue;
                        display: block;
                        margin-bottom: .8em;
                    }
                }

                .btn {
                    display: inline-block;
                }

                p {
                    margin: 1.5em 0;
                }
            }

            .teacher {
                flex-basis: 25%;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    right: -40px;
                }
            }
    }

    section.about {
        img {
        }

        .text {
            p {
            }

            p {
            }

            p {
            }
        }
    }

    section.advantages {

        .certificates {
            a {
                img {
                }
            }

            a {
                img {
                }
            }

            a {
                img {
                }
            }
        }
    }

    section.prices {
    }

    section.reviews {
    }

    section.contact {
    }
}

footer {
    background: $footer-color;
    color: $white-text-color;
    padding: 1rem 0;

    nav.bottom-menu {
        a {
        }

        a {
        }

        a {
        }

        a {
        }

        a {
        }
    }

    a.bottom-logo {
        img {
        }
    }

    .social {
        a {
            padding: .5rem;

            svg {
                width: 36px;
            }
        }
    }

    .copyright {
    }
}
