body {
    font-family: $font-main;
    font-size: 24px;
    @media only screen and (max-width:  $bp_lg) {
        font-size: 20px;
    }
    @media only screen and (max-width:  $bp_md) {
        font-size: 18px;
    }
}

h1, h2, h3 {
    font-family: $font-head;
}

h2 {
    margin: 2em 0 3rem 0;
    line-height: 1em;
}

p {
    margin: 1.5rem 0;
}

ol {
    counter-reset: myCounter;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    margin-top: 2.5em;
    @media only screen and (max-width:  $bp_lg) {
        grid-template-columns: 1fr;
    }

    li {
        list-style: none;
        padding: .5em 1em;
        position: relative;
        border: .1em solid $sky-gradient-right;
        border-radius: .4em;

        &:before {
            counter-increment: myCounter;
            content:counter(myCounter);
            background: $sky-gradient-left;
            background: linear-gradient(180deg, $sky-gradient-left 0%, $sky-gradient-right 100%);
            display: inline-block;
            text-align: center;
            position: absolute;
            top: -0.9em;
            left: -1em;
            width: 1.7em;
            height: 1.7em;
            line-height: 1.6em;
            border-radius: 1em;
        }
    }
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    margin-top: 2.5em;
    @media only screen and (max-width:  $bp_lg) {
        grid-template-columns: 1fr;
    }

    li {
        list-style: none;
        padding: .5em 1em;
        position: relative;
        border: .1em solid $sky-gradient-right;
        border-radius: .4em;

        &:before {
            content: '\2B50';
            // medal \1F3C5
            // winner cup \1F3C6
            border: 1px;
            display: inline-block;
            text-align: center;
            position: absolute;
            top: -0.9em;
            left: -1em;
            width: 1.7em;
            height: 1.7em;
            line-height: 1.6em;
            border-radius: 1em;
        }
    }
}

.container {
    max-width: $bp_xl;
    margin: 0 auto;

    @media only screen and (max-width:  $bp_lg) {
        margin: 0 0.5em;
    }
}

.btn {
    background: $blue;
    color: $white-text-color;
    border-radius: 1.3rem;
    padding: .7rem 1.5rem;
    font-family: $font-head;

    &:hover {
        background: lighten($blue, 10%);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 4rem 0;

    @media only screen and (max-width:  $bp_lg) {
        flex-direction: column;
    }

    .logo {
        display: flex;
        align-items: center;
        @media only screen and (max-width:  $bp_lg) {
            margin-bottom: 1em;
        }

        img {
            width: 3em;
        }

        span {
            display: block;
            line-height: .9em;
            text-align: center;
            color: $blue;
            margin-left: 1em;
        }
    }

    nav.top-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1em;
        font-size: 1em;
        @media only screen and (max-width:  $bp_lg) {
            justify-content: center;
            gap: 1.5em;
        }

        a {
            display: block;
            padding-top: .3rem;
            padding-bottom: .4rem;
            border-bottom: 0;

            &:hover {
                color: $blue;
            }

            &.btn {
                white-space: nowrap;
                @media only screen and (max-width:  $bp_lg) {

                }
            }

            &.btn:hover {
                border-bottom: 0;
                color: $white-text-color;
            }
        }
    }
}

main {
    section.banner {
        border-radius: 1rem;
        background: $sky-gradient-left;
        background: linear-gradient(90deg, $sky-gradient-left 0%, $sky-gradient-right 100%);
        padding: 2em 4em;
        display: flex;
        gap: 2em;
        margin-bottom: 3rem;
        @media only screen and (max-width:  $bp_lg) {
            padding: 2em 2em;
            flex-direction: column-reverse;
        }

        .text {
            flex-basis: 75%;

            h1 {
                color: #3C6A7BFF;
                font-size: 1.2em;
                line-height: 1.2em;

                strong {
                    white-space: nowrap;
                }

                .name {
                    color: $blue;
                    display: block;
                    margin-bottom: .8em;
                }
            }

            .btn {
                display: inline-block;
            }

            p {
                margin: 1.5em 0;
            }
        }

        .teacher {
            flex-basis: 25%;
            align-self: center;
            border-radius: 50%;
            background-color: $sky-gradient-left;
            overflow: hidden;
            @media only screen and (max-width:  $bp_lg) {
                max-width: 60%;
            }
        }
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: .5em;
        @media only screen and (max-width:  $bp_lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        a {
            margin: 0 auto;
        }

        &.cert {
            grid-template-columns: repeat(4, 1fr);
            @media only screen and (max-width:  $bp_lg) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .contacts {
        background: transparent url(../img/contacts_bg.jpg) 0 center no-repeat;
        padding: 2em 0;
        margin-bottom: 2em;
        border-radius: 1rem;

        form {
            width: 40%;
            margin: 0 auto;
            font-size: .9em;

            input, textarea {
                border-radius: .4em;
                border: 1px solid #fff;
                background-color: #bae3e8;
                width: 100%;
                margin: 0.3em 0;
                padding: 0.2em 0.5em;
                color: #235089;
            }

            input[type="submit"] {
                width: 40%;
                margin-left: auto;
                margin-right: auto;
                padding-top: .4em;
                padding-bottom: .4em;
                display: block;
                background-color: #4bc29f;
                color: #177754;
                cursor: pointer;

                &:hover {
                    background-color: darken(#4bc29f, 5);
                }

                &:active {
                    box-shadow: inset 3px 3px 5px #19765b;
                }
            }

            textarea {
                height: 7em;
            }
        }
    }
}

footer {
    background: $footer-color;
    color: $footer-text-color;
    padding: 3em 0;
    font-size: .8em;
    margin-top: 4em;

    .container {
        display: flex;
        justify-content: space-between;

        nav.bottom-menu {
            display: flex;
            gap: .7em;
            @media only screen and (max-width:  $bp_lg) {
                flex-direction: column;
            }

            a {
                display: block;

                &:hover {
                    color: lighten($footer-text-color, 30%);
                }
            }
        }

        .social {
            display: flex;
            gap: .7em;

            a {
                width: 1.5em;
                height: 1.5em;
                display: block;

                svg {
                    fill: $footer-text-color;
                }

                &:hover {
                    svg {
                        fill: lighten($footer-text-color, 30%);
                    }
                }
            }
        }
    }
}
